{% extends 'docs.html.twig' %}

{% block content %}
	<div id="chapter">
    	<div id="body-inner">
			{{ page.content }}<br><br><br><br><br><br><br><br><br>
			<h3>Inhalte</h3>
			<hr>
			{% for p in page.collection.order('folder','asc') %}
				<ul><a href="{{p.url}}"><h4>{{ p.title}}</h4></a>{{p.summary|truncate(130, true)}}</ul></br>
			{% endfor %}
		</div>
    </div>
{% endblock %}
