/*#sidebar ul.topics > li > a b {
    visibility: collapse;
}*/

#sidebar ul li.visited > a .read-icon {
    visibility: hidden;
}

#loginuser {
    color: #1694CA;
}

#summarycontent {
    text-align: left;
}

.highlightable {
    padding: 0;
}

.searchbox {
    margin-top: 0.5rem; /*0.5rem*/
    position: relative;
    border: 1px solid #323a44;
    background: #38424D;
    border-radius: 0; /*4*/
}